body{
    margin: 0 auto;
}
.hover-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover-image img{
    width: 50%;
    filter: grayscale(100%);
}

.hover-image img:hover{
    cursor: pointer;
    filter: grayscale(0%);
    transition: filter 5s  ;
    transform: scale(1.2);
    transition: transform 1s ease-out;
}